PORT=4000
NODE_ENV="development"
JWT_SECRET="tu_jwt_secret_aqui"
JWT_AT_EXPIRY="50m"
ENCRYPTION_KEY="f1a8c9b2e3d4a5b6c7d8e9f0123456789abcdef0123456789abcdef012345678"
CORS_ORIGIN="*"

# PostgreSQL (Docker Compose)
POSTGRES_USER=usuarioappventas159753
POSTGRES_PASSWORD=passwordappventas159753
POSTGRES_DB=ventasdb
DATABASE_URL=postgresql://usuarioappventas159753:passwordappventas159753@localhost:5432/ventasdb?connection_limit=10
